.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}

.Content-centered {
  text-align: center;
}

.Button-margin {
  margin-top: 2rem;
  margin-left: 1rem;
}

.Form-Container {
  border-width: 2rem;
  border-color: blue;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}